body {
 font-family: Arial, Helvetica, sans-serif;
}
h1 {
 font-size: 2em;
 height: 40px;
 text-align: center;
 background-color:#0000CC;
 color: white;
 font-weight: bold;
}
#content {
 padding-top: 20px;
 text-align: justify;
}
nav {
  text-align: center;
}
nav a {
 padding: 3px 10px;
 font-size: 1em;
 color: blue;
}
nav a:hover {
 color: #fff;
 background-color: #036;
}
.item-courant a {
 font-weight: bold;
}
