body {
 font-family: Arial, Helvetica, sans-serif;
}
h1 {
 font-size: 2em;
 height: 40px;
 text-align: center;
 background-color:#0000CC;
 color: white;
 font-weight: bold;
}
h2:first-child {
 margin-top: 0;
}
#content {
 display: inline-block;
 width: 80%;
 vertical-align: top;
 text-align: justify;
 margin-left: 10px;
}
nav {
 display: inline-block;
 width: 15%;
 vertical-align: top;
 text-align: left;
 border: 1px dashed blue;
 padding: 10px;
}
nav a {
 padding-top: 10px;
 padding-bottom: 10px;
 font-size: 1em;
 color: blue;
 display: block;
}
nav a:hover {
 color: #fff;
 background-color: #036;
}
.item-courant a {
 font-weight: bold;
}
